<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Yakovlev41Entities" connectionString="metadata=res://*/Yakovlev41Model.csdl|res://*/Yakovlev41Model.ssdl|res://*/Yakovlev41Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Radonear;initial catalog=Yakovlev41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>